/*=========================
MAIN.CSS File
Version 1.0
Author: TDC
============================*/
/*-----------------------
Table of Content
-----------------
1.0 General Outlook
2.0
3.0
-------------------------*/

body,
html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 400px;
    border-radius: 5px;
}
h3, a{
    font-weight: 600;
}